{% extends "base_log.html" %}
{% block title %} Update {% endblock %}
{% block content %}
<br><br><br>
<form action="/update/{{id}}" method="POST">
   
    <label for="name">Name:</label>
    <input type="text" name="name" value="{{name}}"><br><br>

    <label for="size">Size:</label>
    <input type="number" name="size" value="{{size}}"><br><br>

    <label for="price">Price: </label>
    <input type="number" name="price" value="{{price}}"><br><br>
    
    <input type ="submit" value="UPDATE!">
</form>
{% endblock %}